<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rish.androidapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Full_Screen_withBG" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Olympy Web Viewer"
            android:theme="@style/Full_Screen" />
        <activity android:name=".PdfViewerActivity"
            android:theme="@style/Full_Screen"/>
        <activity android:name=".StorageHelperActivity" />
        <activity
            android:name=".DownloadListView"
            android:label="Downloads" />
        <activity
            android:name=".IntroOneTimeLauncherActivity"
            android:label="@string/title_activity_intro_one_time_launcher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/Full_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainScreenActivity" />
        <activity android:name=".IntermediateActivity" />
        <activity android:name=".NewActivity" />
        <activity android:name=".SyllabusActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".PreviousYearActivity" />
        <activity android:name=".BooksActivity"></activity>
    </application>

</manifest>